<!DOCTYPE html>
<!--
  Clyde 'Thluffy' Sinclair
  SoftDev - Rona Ed.
  Oct 2020
 -->

<html>

  <head>
    <title>Blob Seizure Crew</title>
  </head>

  <body style = "background-color:purple;">
    <audio src="egirl.mp3" autoplay loop></audio>
    <marquee><t style="color:yellow;">
    <center><i>a very descriptive heading</i></center><br>
    <b>The Blob Seizure Crew</b><br>
    <ul>
      <li>Helena Williams</li>
      <li>Ishita Gupta</li>
      <li>Jessica Yeung</li>
    </ul>
    <p><sup>We</sup>hope<sub>you</sub>enjoy<sup>our</sup>website<sub>!</sub></p>
    </t></marquee>


  </body>

</html>
